{% extends 'base.html' %}
{% load static %}
{% block content %}

 
    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Packages</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Packages</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Booking Start -->
    <div class="container-fluid booking mt-5 pb-5">
        <div class="container pb-5">
            <div class="bg-light shadow" style="padding: 30px;">
                <form method="post" action="{% url 'flight' %}">
                    {% csrf_token %}
                    <div class="row align-items-center" style="min-height: 60px;">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="depart" class="custom-select px-4" style="height: 47px;">
                                        <option selected>DEPART</option>
                                        {% for depart in depart_list %}
                                        <option value="{{ depart }}">{{ depart }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="destination" class="custom-select px-4" style="height: 47px;">
                                        <option selected>DESTINATION</option>
                                        {% for destination in destination_list %}
                                        <option value="{{ destination }}">{{ destination }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                           
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <div class="date" id="date1" data-target-input="nearest">
                                        <input type="text" name="depart_date" class="form-control p-4 datetimepicker-input" placeholder="Depart Date" data-target="#date1" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <div class="date" id="date2" data-target-input="nearest">
                                        <input type="text" name="return_date" class="form-control p-4 datetimepicker-input" placeholder="Return Date" data-target="#date2" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                       <button class="btn btn-dark btn-block" type="submit" style="height: 47px; margin-top: -2px;">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Booking End -->








    <!-- Packages Start -->
    <div class="container-fluid py-5" >
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-info text-uppercase" style="letter-spacing: 5px;">Packages</h6>
                <h1> Tour Packages</h1>
            </div>
    <div class="row">
        <div class="body">
            <main class="page-contento">
        {% for p in package %}
      
                <!-- <div class="cardo" style="position: relative; background-image: url(' /static/img/{{p.image}} '); background-size: cover; background-repeat: no-repeat;"> -->
                {%if p.pack_image%}
                <div class="cardo" style="position: relative; background-image: url('{{p.pack_image.url}}'); background-size: cover; background-repeat: no-repeat;">
                {%else%}
                <div class="cardo" style="position: relative; background-image: url(''); background-size: cover; background-repeat: no-repeat;">
                {%endif%}
                    <div class="contento">
                    <h2 class="titlee" style="color: white;">{{p.country}}</h2>
                    <p class="copy">{{p.discription}}</p><p class="copy"><strong>{{p.personce}}</strong> Persons --> {{p.date}}</p><p class="copy"><h3 class="copy" style="color: white;">for<strong> only {{p.price}} $</strong></h3></p>
                    {% if user.is_authenticated and not user.is_staff %}
                    <a href="#" class="book-link" data-country="{{ p.country }}">
                   <button class="btnn">BOOK</button></a>
                   {%else%}
                   <a href="#" class="delete-link" data-id="{{ p.id }}">
                   <button class="btnn">Delete</button>
                   {%endif %}
                    </a>
                  </div>
                </div>
           
       {% endfor %}
    </main>
</div>
    </div>
</div>
</div>
    <!-- Packages End -->


    



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-info btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

{% endblock %}