{% extends 'base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
{% if form.errors %}
<div  src="{% static 'img/photo-1476514525535-07fb3b4ae5f1.avif' %}" >
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Attention!</strong> There was an error with your form
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endif %}
<div style="background-color: #eee;">
<!-- <div class="mb-3"> -->
<div class="w-50 p-3" style="background-color: #ffffff;margin-left: 25%;">
<h2 style="text-align: center;"><strong>SIGN UP</strong></h2>
<form method="post" action="" style="margin-top:25px;">
    {% csrf_token %}
    {{ form.as_p }}
    <h6 style="text-align: right;">Back<a href="/index.html"> Home</a></h6>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>


</div>
</div>
</div>
<!-- </div> -->

{% endblock %}
{% block footer%}
{% endblock %}


