{% extends "base1.html" %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block page %}CHECKOUT PAGE{% endblock %}
{% block content %}

<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
      <div class="col-sm-12">
          <div class="white-box">
                            <h3 class="box-title">YOUR ITEMS</h3>
                            <div class="ha">
                            {% for p in packages %} 
                            <div class="card bg-dark mt-4">
                                <img src="{% static 'img/' %}{{ p.image }}" class="card-img-top" >
                                <div class="card-bodyy">
                                  <div class="text-section">
                                    <h6 class="card-title fw-bold text-white">type: {{p.type}}</h6>
                                    <p class="card-text text-white">{{p.discription}}hhhhhhhhhh</p>
                                  </div>
                                  <div class="cta-section">
                                    <div class="text-white">{{p.price}}$</div>
                                    <a href="#" class="btn btn-light">DELETE</a>
                                  </div>
                                </div>
                              </div>
                              {% endfor %}</div>   
          </div>
      </div>
  </div>
</div>
       
  {% endblock %}