{% extends "base1.html" %}
{% load static %}
{% block title %}Checkout{% endblock %}
{% block page %}CHECKOUT PAGE{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'csss/style1.css' %}"> 

<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
      <div class="col-sm-12">
          <div class="white-box">
                            <h3 class="box-title">YOUR ITEMS</h3>
                            <div class="ha">
                              {%if packages%}
                            {% for p in packages %} 
                            <div class="card bg-dark mt-4">
                                <img src="{% static 'img/' %}{{ p.image }}" class="card-img-top" >
                                <div class="card-bodyy">
                                  <div class="text-section">
                                    <h5 class="card-title fw-bold text-white">type: {{p.type}}</h5>
                                    <p class="card-text text-white">{{p.discription}}(Flight+Hotel)</p>
                                    <p class="card-text text-white">for : {{p.date}}</p>
                                  </div>
                                  <div class="cta-section">
                                    <div class="text-white">{{p.price}}$</div>
                                    <a href="#" class="btn btn-light">DELETE</a>
                                  </div>
                                </div>
                              </div>
                              {% endfor %}{%endif%}</div>  
                              {%if flights%}
                              {% for f in flights %}
                              <div class="card bg-warning mt-4">
                                <img src="{% static 'img/' %}{{ f.image }}"class="card-img-top" alt="...">
                                <div class="card-bodyy">
                                  <div class="text-section">
                                    <h5 class="card-title fw-bold">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card's content.</p>
                                  </div>
                                  <div class="cta-section">
                                    <div>$129.00</div>
                                    <a href="#" class="btn btn-dark">Buy Now</a>
                                  </div>
                                </div>
                              </div>
                              {%endfor %}
                              {% endif%}
                              {%if packages or flight%}
                              <button type="button" class="btn btn-success" >Validate Checkout</button>
                              {%else%}
                              <h1>NOTHING TO SHOW ...</h1>
                              {%endif%}
 
          </div>
      </div>
  </div>
</div>
{% for f in packages%}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="{% static 'img/' %}{{ f.image }}"
                    class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>Quant trident shirts</h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <span>310</span>
                </div>
                <div class="mt-1 mb-0 text-muted small">
                  <span>100% cotton</span>
                  <span class="text-primary"> • </span>
                  <span>Light weight</span>
                  <span class="text-primary"> • </span>
                  <span>Best finish<br /></span>
                </div>
                <div class="mb-2 text-muted small">
                  <span>Unique design</span>
                  <span class="text-primary"> • </span>
                  <span>For men</span>
                  <span class="text-primary"> • </span>
                  <span>Casual<br /></span>
                </div>
                <p class="text-truncate mb-4 mb-md-0">
                  There are many variations of passages of Lorem Ipsum available, but the
                  majority have suffered alteration in some form, by injected humour, or
                  randomised words which don't look even slightly believable.
                </p>
              </div>
              <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">$13.99</h4>
                  <span class="text-danger"><s>$20.99</s></span>
                </div>
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4">
                  <button class="btn btn-primary btn-sm" type="button">Details</button>
                  <button class="btn btn-outline-primary btn-sm mt-2" type="button">
                    Add to wishlist
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></div></section>
    {%endfor%}

       
  {% endblock %}