{% extends "base1.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block page %}Dashboard{% endblock %}
{% block content %}
          
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Three charts -->
                <!-- ============================================================== -->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Users Including you</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-success">{{ users|length }}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Page Views</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash2"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-purple">869</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Unique Visitor</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash3"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ms-auto"><span class="counter text-info">911</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- PRODUCTS YEARLY SALES -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                
                                <!-- .col -->
                                <div class="col-md-12 col-lg-8 col-sm-12">
                                    <div class="card white-box p-0">
                                        <div class="card-body">
                                            <h3 class="box-title mb-0">RECENT NOTIFICATIONS</h3>
                                        </div>
                                        <div class="comment-widgets">
                                            {% for n in notifications %}
                                            <!-- Comment Row -->
                                            <div class="d-flex flex-row comment-row p-3 mt-0">
                                                <div class="p-2">
                                                    {% if n.type == "PACKAGE" %}
                                                    <img src="{{n.image.url}}"  style="width:60px;height: 60px; object-fit: cover;" class="rounded-circle">
                                                    {% elif n.type == "FLIGHT" %}
                                                    <img src="{% static 'img/flight.jpg' %}"  style="width:60px;height: 60px; object-fit: cover;" class="rounded-circle">
                                                    {% elif n.type == "USER" %}
                                                    <img src="{% static 'img/userr.jpg' %}"  style="width:60px;height: 60px; object-fit: cover;" class="rounded-circle">
                                                    {% elif n.type == "DOLLAR" %}
                                                    <img src="{% static 'img/dollar.jpg' %}"  style="width:60px;height: 60px; object-fit: cover;" class="rounded-circle">
                                                    {% elif n.type == "NEW_USER" %}
                                                    <img src="{% static 'img/userr.jpg' %}"  style="width:60px;height: 60px; object-fit: cover;" class="rounded-circle">
                                                    
                                                    {% endif %}
                                                </div>
                                                <div class="comment-text ps-2 ps-md-3 w-100">
                                                    <h5 class="font-medium" style="text-transform:uppercase;">
                                                        {% if n.type != "NEW_USER" %}
                                                        <strong>{{n.recipient}} {{n.last_name}}</strong>
                                                        {% else %}
                                                        <strong>NEW USER</strong>
                                                        {%endif%}
                                                    </h5>
                                                    <span class="mb-3 d-block">{{n.message}} </span>
                                                    <div class="comment-footer d-md-flex align-items-center">
                                                        <a href="/delete_notif/{{ n.id }}">
                                                            <span class="badge bg-danger rounded">Delete</span></a>
                                                         
                                                        <div class="text-muted fs-2 ms-auto mt-2 mt-md-0">{{n.timestamp}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                           {% endfor %}
                                        </div>
                                    </div>
                                </div>            
           {% endblock  %}
           
