{% extends 'base1.html' %}
{% load static %}
{% block title %}Profil{% endblock %}
{% block page %}Profil{% endblock %}
{% block content %}
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-12">
        <div class="white-box">
            <div class="user-bg">
                {% if user.is_authenticated and user.is_staff %}
                <img width="100%" alt="user" src="{% static 'plugins/images/users/add.png' %}">
                {% else %}
                <img width="100%" alt="user" src="{% static 'plugins/images/users/goku.jpg' %}">
                {% endif %}
                <div class="overlay-box">
                    <div class="user-content">
                        <a href="">{% if user.is_authenticated and user.is_staff %}
                            <img src="{% static 'plugins/images/users/add.png' %}" class="thumb-lg img-circle" alt="img"></a>
                            {% else %}
                            <img src="{% static 'plugins/images/users/goku.jpg' %}" class="thumb-lg img-circle" alt="img"></a>
                            {% endif %}
                            <h4 class="text-white mt-2">{{user}}</h4>
                        <h5 class="text-white mt-2">{{user.email}}</h5>
                    </div>
                </div>
            </div>
            <div class="user-btm-box mt-5 d-md-flex">
             
                <h3 class="text-black mt-2" style="margin-left: 10%; text-align: center; text-transform: uppercase;font-family: Futura, 'Trebuchet MS', Arial, sans-serif;"><strong>{{user.first_name}} {{user.last_name}}</strong></h4><br>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-12">
        <div class="card">
            <div class="card-body">
                {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" >
                    <strong>Attention!</strong> There was an error with your form
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% endif %}

                  {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" id="autoCloseAlert" role="alert">
        {{ message }}
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
                <div style="background-color: #eee;">
                <!-- <div class="mb-3"> -->
                <div class="w-100 p-3" style="background-color: #ffffff;">
                <h2 style="text-align: center;"><strong>Update Profile</strong></h2>
    <form method="post" action="" style="margin-top:25px;"class="form-horizontal form-material">
    {% csrf_token %}
    {{ form }}
<br>
    TO SET A <strong> NEW PASSWORD</strong> --> <a href="/password">CLICK</a><br><br>
    
    <button class="btn btn-success" type="submit" >Submit</button>
    </form>          
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

</div>
{% endblock %}






              